<article>
  <header>
    <h1>Odoo Calculator</h1>
    <p>The best calculator you will ever use</p>
  </header>
  <main class="calc_container">
    <section>
      <button class="input_toggle_button" (click)="toggleInputMode()">Toggle Input mode</button>
    </section>
    <section class="section_textInput" *ngIf="shouldShowTextInput">
        <div class="calc_header">
            <div class="calc_input">
                <label for="text_input">In:</label>
                <input [(ngModel)]="inputText" id="text_input" type="text" class="textdisplay" />
            </div>
            <button class="btn_calculate" (click)="getResult()">Calculate</button>
            <div class="calc_result">
                <label for="touch_result">Out:</label>
                <input [ngModel]="resultText" id="touch_result" class="textdisplay"[ngClass]="{'out_error_state': outputError}" type="text"  readonly/>
            </div>
          </div>
    </section>
    <section class="section_touchInput" *ngIf="shouldShowTouchInput">
      <div class="calculator">
        <div class="calc_header">
          <div class="calc_input">
              <label for="touch_input">In:</label>
              <input [ngModel]="inputText" id="touch_input" type="text" readonly class="textdisplay" />
          </div>
          <div class="calc_result">
              <label for="touch_result">Out:</label>
              <input [ngModel]="resultText" id="touch_result" class="textdisplay" [ngClass]="{'out_error_state': outputError}" type="text" readonly />
          </div>
        </div>
        <div class="calc_buttons">
            <button (click)="calcButtonClicked($event)" class="btn_clear" aria-label="clear">C</button>
            <button (click)="calcButtonClicked($event)" aria-label="delete">DEL</button>
            <button (click)="calcButtonClicked($event)" aria-label="division">÷</button>
            <button (click)="calcButtonClicked($event)" aria-label="seven">7</button>
            <button (click)="calcButtonClicked($event)" aria-label="eight">8</button>
            <button (click)="calcButtonClicked($event)" aria-label="nine">9</button>
            <button (click)="calcButtonClicked($event)" aria-label="times">&times;</button>
            <button (click)="calcButtonClicked($event)" aria-label="four">4</button>
            <button (click)="calcButtonClicked($event)" aria-label="five">5</button>
            <button (click)="calcButtonClicked($event)" aria-label="six">6</button>
            <button (click)="calcButtonClicked($event)" aria-label="minus">-</button>
            <button (click)="calcButtonClicked($event)" aria-label="one">1</button>
            <button (click)="calcButtonClicked($event)" aria-label="two">2</button>
            <button (click)="calcButtonClicked($event)" aria-label="three">3</button>
            <button (click)="calcButtonClicked($event)" aria-label="plus">+</button>
            <button (click)="calcButtonClicked($event)" class="btn_zero" aria-label="zero">0</button>
            <button (click)="calcButtonClicked($event)" class="btn_equals" aria-label="equals">=</button>
        </div>
      </div>
    </section>
  </main>
</article>